body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .first-view {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #787878;
}
body .first-view .main-container {
  width: 100%;
  height: 95%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
body .first-view .main-container .header {
  height: 10%;
  width: 90%;
  box-sizing: border-box;
  display: flex;
  border-bottom: 0.3px solid #c5c5c5;
}
body .first-view .main-container .header nav {
  height: 90%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
body .first-view .main-container .header nav ul {
  height: 100%;
  display: flex;
  font-size: 1.6rem;
}
body .first-view .main-container .header nav ul li {
  cursor: pointer;
}
body .first-view .main-container .header nav .left-and-right {
  width: 25%;
  justify-content: space-around;
}
body .first-view .main-container .header nav .left-and-right .pure {
  color: #FF6663;
  font-weight: bold;
}
body .first-view .main-container .header nav .left-and-right .enter:hover {
  border-bottom: solid 2px #FF6663;
  padding-bottom: 0.2rem;
}
body .first-view .main-container .header nav .left-and-right li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .first-view .main-container .header nav .left {
  padding-right: 10rem;
}
body .first-view .main-container .header nav .mid {
  width: 45%;
}
body .first-view .main-container .header nav .mid li {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .first-view .main-container .content {
  height: 90%;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
body .first-view .main-container .content .content-box {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .first-view .main-container .content .content-box .copy {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 8rem;
}
body .first-view .main-container .content .content-box .copy .main-text {
  height: 35%;
  text-align: left;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 1rem;
}
body .first-view .main-container .content .content-box .copy .main-text h1 {
  font-size: 7rem;
  font-family: 'PT Serif', serif;
  line-height: 1.3;
  color: black;
  font-weight: bold;
  padding-bottom: 10px;
}
body .first-view .main-container .content .content-box .copy .main-text #easiest {
  text-decoration: underline #ff6663;
  animation: easiestMove 3s infinite;
}
@keyframes easiestMove {
  50% {
    text-decoration-color: yellow;
  }
}
body .first-view .main-container .content .content-box .copy .list {
  height: 35%;
  width: 100%;
  margin-bottom: 1.3rem;
  margin-top: 3rem;
}
body .first-view .main-container .content .content-box .copy .list p {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  color: #424242;
  padding-bottom: 2rem;
}
body .first-view .main-container .content .content-box .copy .list button {
  border: 0;
  padding: 1.3rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  background-color: #FF6663;
  color: white;
  width: 20rem;
}
body .first-view .main-container .content .content-box .copy .testemonials {
  margin-top: 65px;
  height: 25%;
  width: 100%;
  font-size: 1.5rem;
}
body .first-view .main-container .content .content-box .copy .testemonials #names {
  font-size: 1.3rem;
  padding-top: 1rem;
}
body .first-view .main-container .content .content-box .copy .testemonials #names span {
  font-weight: bold;
}
body .first-view .main-container .content .image {
  width: 58%;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}
body .first-view .main-container .content .image .phones {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
body .first-view .main-container .content .image .phones img {
  height: 90%;
}
body .first-view .main-container .content .image .first {
  margin-right: -6rem;
  z-index: 1;
  padding-right: 0;
  margin-bottom: -12rem;
}
body .first-view .main-container .content .image .second {
  justify-content: flex-start;
}
@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  body .first-view .main-container .content .content-box {
    width: 100vw;
    height: 100%;
  }
  body .first-view .main-container .content .content-box .copy .list button {
    display: block;
    margin-top: 80px;
    margin-left: 20vw;
    font-size: 2em;
  }
  body .first-view .main-container .content .content-box .copy {
    padding: 1rem;
  }
  body .first-view .main-container .content .content-box .copy .list p {
    padding-top: 10px;
    line-height: normal;
    font-size: 1.3em;
    display: none;
  }
  body .main-container {
    width: 100vw;
    height: 100vh;
    display: block;
  }
  body .main-container .header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  body .main-container .content {
    width: 100%;
    display: flex;
  }
  body .main-container .content .copy {
    display: flex;
    justify-content: center;
  }
  body .main-container .content .main-text h1 {
    padding-top: 1em;
    font-size: 0.1em;
    line-height: normal;
    width: 98vw;
    margin: 0 auto;
    text-align: center;
  }
  body .main-container .content .image .phones img {
    display: none;
  }
}
