/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
:root {
  font-size: 62.5%;
  font-family: 'Lexend Deca', sans-serif;
}
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
body .first-view {
  width: 90vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #787878;
  margin: 0 auto;
}
body .first-view .main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /* header */
  /* menu */
  /* menu icon */
  /* menu btn */
  /* 48em = 768px */
  /* menu */
  /* menu icon */
}
body .first-view .main-container body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}
body .first-view .main-container a {
  color: #000;
}
body .first-view .main-container .header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 3;
}
body .first-view .main-container .header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}
body .first-view .main-container .header ul #enter:hover {
  border-bottom: solid 2px #FF6663;
  padding-bottom: 0.2rem;
}
body .first-view .main-container .header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}
body .first-view .main-container .header li a:hover,
body .first-view .main-container .header .menu-btn:hover {
  background-color: #f4f4f4;
}
body .first-view .main-container .header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
body .first-view .main-container .header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
body .first-view .main-container .header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
body .first-view .main-container .header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}
body .first-view .main-container .header .menu-icon .navicon:before,
body .first-view .main-container .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}
body .first-view .main-container .header .menu-icon .navicon:before {
  top: 5px;
}
body .first-view .main-container .header .menu-icon .navicon:after {
  top: -5px;
}
body .first-view .main-container .header .menu-btn {
  display: none;
}
body .first-view .main-container .header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
body .first-view .main-container .header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
body .first-view .main-container .header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
body .first-view .main-container .header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
body .first-view .main-container .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
body .first-view .main-container .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
@media (min-width: 48em) {
  body .first-view .main-container .header li {
    float: left;
  }
  body .first-view .main-container .header li a {
    padding: 20px 30px;
  }
  body .first-view .main-container .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  body .first-view .main-container .header .menu-icon {
    display: none;
  }
}
body .first-view .main-container .sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
body .first-view .content {
  height: 90%;
  box-sizing: border-box;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
}
body .first-view .content .content-box {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .first-view .content .content-box hr {
  margin-right: 30vw;
  margin-top: 40px;
}
body .first-view .content .content-box .copy {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .first-view .content .content-box .copy .main-text {
  height: 35%;
  text-align: left;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  margin-bottom: 1rem;
}
body .first-view .content .content-box .copy .main-text h1 {
  font-size: 5.3rem;
  font-family: 'PT Serif', serif;
  line-height: 1.3;
  color: black;
  font-weight: bold;
  padding-bottom: 10px;
}
body .first-view .content .content-box .copy .list {
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
body .first-view .content .content-box .copy .list p {
  font-size: 2rem;
  margin-bottom: 1.3rem;
  color: #424242;
  padding-bottom: 0.5rem;
}
body .first-view .content .content-box .copy .list button {
  border: 0;
  padding: 1.6rem;
  font-size: 1.9rem;
  border-radius: 2.5rem;
  background-color: #FF6663;
  color: white;
  width: 20rem;
}
body .first-view .content .content-box .copy .testemonials {
  display: flex;
  margin-top: 40px;
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.4;
  justify-content: left;
  align-items: center;
}
body .first-view .content .content-box .copy .testemonials .test-img {
  margin-right: 10px;
}
body .first-view .content .content-box .copy .testemonials #names {
  font-size: 1.3rem;
  padding-top: 1rem;
}
body .first-view .content .content-box .copy .testemonials #names span {
  font-weight: bold;
}
body .first-view .content .jumbo {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .first-view .content .jumbo img {
  width: 34vw;
}
@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Acme Regular'), local('Acme-Regular'), url(https://fonts.gstatic.com/s/acme/v9/RrQfboBx-C5_XxrBaw.ttf) format('truetype');
}
.second-view {
  font-family: PT Serif;
  margin: 0 auto;
}
.second-view .yellow-page {
  background-color: #ffdb8c;
  height: 110vh;
}
.second-view .yellow-page .top-text .head {
  font-size: 4em;
  text-align: center;
  padding-top: 60px;
  color: #585858;
}
.second-view .yellow-page .mid-point {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.second-view .yellow-page .mid-point .divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27%;
  padding-top: 40px;
  padding-bottom: 60px;
}
.second-view .yellow-page .mid-point .divider img {
  width: 400px;
  height: 100%;
  margin: 0 auto;
}
.second-view .yellow-page .mid-point .divider h3 {
  padding-top: 28px;
  font-size: 2.3em;
  text-align: center;
  width: 300px;
  font-family: 'Acme';
  color: #585858;
  line-height: 1.5;
  margin-bottom: 50px;
}
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #000;
    box-sizing: border-box;
    width: 100%;
  }
  body .first-view {
    display: block;
    height: 70%;
    width: 100%;
  }
  body .first-view .main-container {
    display: block;
  }
  body .first-view .main-container .header {
    width: 100vw;
    background-color: black;
    color: white;
  }
  body .first-view .main-container .header .logo {
    color: #ff6669;
    margin-top: 15px;
    margin-left: 20px;
  }
  body .first-view .main-container .header .menu-icon .navicon {
    background-color: white;
  }
  body .first-view .main-container .header .menu-icon .navicon:before,
  body .first-view .main-container .header .menu-icon .navicon:after {
    background-color: white;
  }
  body .first-view .main-container .header nav {
    width: 80vw;
    margin: 0 auto;
    padding: 0;
  }
  body .first-view .main-container .header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  body .first-view .main-container .header nav ul li {
    font-size: 0.6em;
  }
  body .first-view .main-container .header nav .left-and-right {
    display: flex;
  }
  body .first-view .main-container .content {
    display: flex;
    flex-direction: column;
  }
  body .first-view .main-container .content .content-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }
  body .first-view .main-container .content .content-box .copy {
    width: 90vw;
    margin: 0 auto;
    padding: 0;
  }
  body .first-view .main-container .content .content-box .copy .main-text {
    display: block;
    height: 10%;
    padding: 0;
    margin: 0;
  }
  body .first-view .main-container .content .content-box .copy .main-text h1 {
    font-size: 3.5em;
    margin: 0;
    padding: 0;
    color: #dbdbdb;
    text-align: center;
  }
  body .first-view .main-container .content .content-box .copy .list {
    margin-top: 1em;
    padding: 0;
  }
  body .first-view .main-container .content .content-box .copy .list p {
    font-size: 1.9em;
    line-height: 1.2em;
    color: #bebebe;
    text-align: center;
    margin-bottom: 10px;
  }
  body .first-view .main-container .content .content-box .copy .list button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 1.5rem;
    font-size: 1.9rem;
    border-radius: 0.8rem;
    background-color: #FF6663;
    color: white;
    width: 80vw;
    margin-top: 40px;
    margin: 0 auto;
    text-align: center;
  }
  body .first-view .main-container .content .content-box .copy .testemonials {
    padding-top: 20px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
  }
  body .first-view .main-container .content .jumbo img {
    width: 80vw;
  }
  body .second-view {
    font-family: PT Serif;
    width: 100%;
  }
  body .second-view .yellow-page {
    height: 100%;
  }
  body .second-view .yellow-page .top-text .head {
    padding-top: 200px;
    font-size: 3.5em;
  }
  body .second-view .yellow-page .mid-point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  body .second-view .yellow-page .mid-point .divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }
  body .second-view .yellow-page .mid-point .divider img {
    width: 70%;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
  }
  body .second-view .yellow-page .mid-point .divider h3 {
    padding-top: 28px;
    font-size: 2.3em;
    text-align: center;
    width: 80%;
    font-family: 'Acme';
    color: #585858;
    line-height: 1.5;
  }
  body .cards {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  body .cards h2 {
    font-size: 3em;
  }
  body .cards img {
    width: 50vw;
    padding: 20px 0px 20px 0px;
  }
  body footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    height: 100%;
  }
}
footer {
  font-size: 1.3em;
  background-color: #e7e7e7;
  font-family: 'PT Serif';
  line-height: 1.7;
  padding: 50px 20px 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  background-color: #ff6669;
}
.cards {
  margin: 0 auto;
  padding-top: 50px;
}
.cards h2 {
  font-size: 4em;
  font-family: 'PT Serif';
  color: #2a2a3b;
  text-align: center;
}
.cards img {
  padding-top: 50px;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 50px;
}
