/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
}
:root {
  font-size: 62.5%;
  font-family: 'Lexend Deca', sans-serif;
}
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body .first-view {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .first-view .main-container {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
body .first-view .main-container .header {
  height: 10%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
}
body .first-view .main-container .header nav {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
body .first-view .main-container .header nav ul {
  height: 100%;
  display: flex;
  font-size: 1.6rem;
}
body .first-view .main-container .header nav .left-and-right {
  width: 25%;
}
body .first-view .main-container .header nav .left-and-right li {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .first-view .main-container .header nav .mid {
  width: 45%;
}
body .first-view .main-container .header nav .mid li {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .first-view .main-container .content {
  height: 90%;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
body .first-view .main-container .content .content-box {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .first-view .main-container .content .content-box .copy {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 5rem;
}
body .first-view .main-container .content .content-box .copy .main-text {
  height: 35%;
  text-align: left;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
body .first-view .main-container .content .content-box .copy .main-text h1 {
  font-size: 4.5rem;
  font-family: 'PT Serif', serif;
}
body .first-view .main-container .content .content-box .copy .list {
  height: 35%;
  width: 100%;
}
body .first-view .main-container .content .content-box .copy .list p {
  font-size: 1.5rem;
  margin-bottom: 1.3rem;
}
body .first-view .main-container .content .content-box .copy .testemonials {
  height: 25%;
  width: 100%;
  font-size: 1.4rem;
}
body .first-view .main-container .content .image {
  width: 58%;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
}
body .first-view .main-container .content .image .phones {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
body .first-view .main-container .content .image .phones img {
  height: 90%;
}
body .first-view .main-container .content .image .first {
  margin-right: -6rem;
  z-index: 1;
  padding-right: 0;
  margin-bottom: -12rem;
}
body .first-view .main-container .content .image .second {
  justify-content: flex-start;
}
.second-view {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: yellow;
}
