@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #000;
    box-sizing: border-box;
    width: 100%;
  }
  body .first-view {
    display: block;
    height: 100%;
    width: 100%;
  }
  body .first-view .main-container {
    display: block;
  }
  body .first-view .main-container a {
    color: #fff;
    font-size: 1.5em;
  }
  body .first-view .main-container .header {
    width: 100vw;
    background-color: black;
    color: white;
  }
  body .first-view .main-container .header ul {
    background-color: #fff;
    color: white;
  }
  body .first-view .main-container .header .logo {
    color: #ff6669;
    margin-top: 15px;
    margin-left: 20px;
  }
  body .first-view .main-container .header .menu-icon .navicon {
    background-color: white;
  }
  body .first-view .main-container .header .menu-icon .navicon:before,
  body .first-view .main-container .header .menu-icon .navicon:after {
    background-color: white;
  }
  body .first-view .main-container .header .menu-btn:checked ~ .menu {
    background-color: black;
  }
  body .first-view .main-container .header nav {
    width: 80vw;
    margin: 0 auto;
    padding: 0;
  }
  body .first-view .main-container .header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  body .first-view .main-container .header nav ul li {
    font-size: 0.6em;
  }
  body .first-view .main-container .header nav .left-and-right {
    display: flex;
  }
  body .first-view .main-container .content {
    display: flex;
    flex-direction: column;
  }
  body .first-view .main-container .content .content-box {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 10vh auto 0px;
    padding: 0;
  }
  body .first-view .main-container .content .content-box hr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  body .first-view .main-container .content .content-box .copy {
    width: 90vw;
    margin: 0 auto;
    padding: 0;
    height: 70%;
  }
  body .first-view .main-container .content .content-box .copy .main-text {
    display: block;
    height: 10%;
    padding: 0;
    margin: 0;
  }
  body .first-view .main-container .content .content-box .copy .main-text h1 {
    font-size: 3.5em;
    margin: 0;
    padding: 0;
    color: #dbdbdb;
    text-align: center;
  }
  body .first-view .main-container .content .content-box .copy .list {
    margin-top: 1em;
    padding: 0;
  }
  body .first-view .main-container .content .content-box .copy .list p {
    font-size: 1.9em;
    line-height: 1.2em;
    color: #bebebe;
    text-align: center;
    margin-bottom: 25px;
  }
  body .first-view .main-container .content .content-box .copy .list button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 1.5rem;
    font-size: 1.9rem;
    border-radius: 0.8rem;
    background-color: #FF6663;
    color: white;
    width: 80vw;
    margin: 0 auto;
    text-align: center;
  }
  body .first-view .main-container .content .content-box .copy .testemonials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: center;
  }
  body .first-view .main-container .content .jumbo {
    display: inherit;
    width: 100vw;
    margin: 0 auto;
  }
  body .first-view .main-container .content .jumbo img {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  body .second-view {
    font-family: PT Serif;
    width: 100%;
  }
  body .second-view .yellow-page {
    height: 100%;
  }
  body .second-view .yellow-page .top-text .head {
    padding-top: 200px;
    font-size: 3.5em;
  }
  body .second-view .yellow-page .mid-point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  body .second-view .yellow-page .mid-point .divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }
  body .second-view .yellow-page .mid-point .divider img {
    width: 70%;
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
  }
  body .second-view .yellow-page .mid-point .divider h3 {
    padding-top: 28px;
    font-size: 2.3em;
    text-align: center;
    width: 80%;
    font-family: 'Acme';
    color: #585858;
    line-height: 1.5;
  }
  body .howitworks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0px;
  }
  body .howitworks .image {
    display: none;
  }
  body .howitworks .text {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  body .howitworks .text h2 {
    font-size: 3em;
    text-align: center;
  }
  body .howitworks .text p {
    text-align: justify;
  }
  body .faq {
    background-color: #ffcba0;
    margin: 0;
    width: 100%;
  }
  body .faq h2 {
    line-height: 1.2;
    font-size: 3.2em;
  }
  body .faq .questionwrapper {
    display: flex;
    flex-direction: column;
  }
  body .faq .questionwrapper .questions {
    width: 100%;
    text-align: justify;
    padding-bottom: 40px;
  }
  body .faq .questionwrapper .questions h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 2.3em;
  }
  body .cards {
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    margin: 0;
  }
  body .cards h2 {
    font-size: 3em;
  }
  body .cards img {
    width: 50vw;
    padding: 20px 0px 20px 0px;
  }
  body footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5em;
    height: 100%;
  }
}
