@media only screen and (max-width: 850px) {
  body {
    margin: 0;
    padding: 0;
  }
  body .first-view {
    display: block;
    height: 160vh;
  }
  body .first-view .main-container {
    display: block;
  }
  body .first-view .main-container .header nav {
    width: 80vw;
    margin: 0 auto;
    padding: 0;
  }
  body .first-view .main-container .header nav ul {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  body .first-view .main-container .header nav ul li {
    font-size: 0.6em;
  }
  body .first-view .main-container .header nav .left-and-right {
    display: flex;
  }
  body .first-view .main-container .content {
    display: flex;
    flex-direction: column;
  }
  body .first-view .main-container .content .content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
  }
  body .first-view .main-container .content .content-box .copy {
    width: 90vw;
    margin: 0 auto;
    padding: 0;
  }
  body .first-view .main-container .content .content-box .copy .main-text {
    display: block;
  }
  body .first-view .main-container .content .content-box .copy .main-text h1 {
    font-size: 3.5em;
    margin: 0;
    padding: 0;
  }
  body .first-view .main-container .content .content-box .copy .list {
    height: 100%;
    margin-top: 1em;
    padding: 0;
  }
  body .first-view .main-container .content .content-box .copy .list p {
    font-size: 1.7em;
    line-height: 1.2em;
  }
  body .first-view .main-container .content .content-box .copy .testemonials {
    margin: 0 auto;
    margin-top: 5px;
  }
  body .first-view .main-container .content .image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  body .first-view .main-container .content .image .phones {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  body .first-view .main-container .content .image .phones img {
    display: flex;
    max-width: 70vw;
    height: 70vh;
  }
  body .first-view .main-container .content .image .first {
    display: block;
    width: 50%;
    margin-top: 50px;
    margin-right: -20px;
  }
  body .first-view .main-container .content .image .second {
    width: 50%;
    margin-top: 15px;
  }
  body .second-view {
    display: block;
    width: 110vw;
  }
  body .second-view .yellow-page {
    display: block;
  }
  body .second-view .yellow-page .top-text {
    display: block;
  }
  body .second-view .yellow-page .top-text .head {
    display: block;
  }
  body .second-view .yellow-page .top-text .head h1 {
    color: black;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'PT Serif', serif;
    text-align: center;
  }
  body .second-view .yellow-page .shots {
    height: 84%;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
  }
  body .second-view .yellow-page .shots .shot-block {
    width: 70%;
    height: 100%;
    display: block;
    justify-content: space-around;
    align-items: center;
  }
  body .second-view .yellow-page .shots .shot-block .screens {
    width: 32%;
    height: 85%;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
  }
  body .second-view .yellow-page .shots .shot-block .screens img {
    height: 80%;
    width: 100%;
  }
  body .second-view .yellow-page .shots .shot-block .screens .text-box {
    width: 100%;
    padding-left: 1.3rem;
    padding-right: 0;
  }
  body .second-view .yellow-page .shots .shot-block .screens .text-box h3 {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'PT Serif', serif;
    color: black;
    margin-bottom: 0.8rem;
  }
  body .second-view .yellow-page .shots .shot-block .screens .text-box p {
    font-size: 1.3rem;
    width: 100%;
    line-height: 1.2;
    color: black;
  }
  body .second-view .yellow-page .shots .shot-block .onethree {
    margin-bottom: -6rem;
  }
  body .second-view .yellow-page .shots .shot-block .two {
    margin-top: -8rem;
  }
}
