@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Acme Regular'), local('Acme-Regular'), url(https://fonts.gstatic.com/s/acme/v9/RrQfboBx-C5_XxrBaw.ttf) format('truetype');
}
.second-view {
  font-family: PT Serif;
  width: 100%;
  margin: 0 auto;
}
.second-view .yellow-page {
  background-color: #ffdb8c;
  height: 100%;
}
.second-view .yellow-page .top-text .head {
  font-size: 4em;
  text-align: center;
  padding-top: 60px;
  color: #585858;
}
.second-view .yellow-page .mid-point {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}
.second-view .yellow-page .mid-point .divider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27%;
  padding-top: 40px;
  padding-bottom: 60px;
}
.second-view .yellow-page .mid-point .divider img {
  width: 400px;
  height: 100%;
  margin: 0 auto;
}
.second-view .yellow-page .mid-point .divider h3 {
  padding-top: 28px;
  font-size: 2.3em;
  text-align: center;
  width: 300px;
  font-family: 'Acme';
  color: #585858;
  line-height: 1.5;
  margin-bottom: 50px;
}
