body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;   


    .first-view {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #787878;

        .main-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;

            .sticky {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 999;
              }

            .header {
                height: 10%;
                width: 100%;
                box-sizing: border-box;
                display: flex;
                background-color: #fff;
                // border-bottom: 0.3px solid #c5c5c5;

                


                nav {
                    height: 90%;
                    width: 100%;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;

                    ul {
                        height: 100%;
                        display: flex;
                        font-size: 1.6rem;

                        li {
                            cursor: pointer;
                        }
                    }

                    .left-and-right {
                        width: 25%;
                        justify-content: space-around;
                        text-decoration: none;

                        .pure {
                            color: #FF6663;
                            font-weight: bold;
                        }

                        .enter:hover {
                            border-bottom: solid 2px #FF6663;
                            padding-bottom: 0.2rem;
                        }

                        // #enter {
                        //     border-bottom: solid 2px #FF6663;
                        //     padding-bottom: 0.2rem;
                        // }

                        li {
                            width: 25%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                        }
                    }

                    .left {
                        padding-right: 10rem;
                    }

                    .mid {
                        width: 45%;

                        li {
                            width: 20%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }

            .content {
                height: 90%;
                box-sizing: border-box;
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding-top: 4rem;

                .content-box {
                    height: 100%;
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .copy {
                        height: 70%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        // text-align: left;
                        padding-left: 8rem;

                        .main-text {
                            height: 35%;
                            text-align: left;
                            width: 100%;
                            display: flex;
                            box-sizing: border-box;
                            align-items: center;
                            margin-bottom: 1rem;

                            h1 {
                                font-size: 5rem;
                                font-family: 'PT Serif', serif;
                                // word-spacing: 1.5rem;
                                line-height: 1.3;
                                color: black;
                                font-weight: bold;
                                padding-bottom: 10px;
                            }

                            #easiest {
                                text-decoration: underline #a5a5a5;
                                animation: easiestMove 3s infinite;
                            }

                            @keyframes easiestMove {
                                50% {
                                    text-decoration-color: rgb(0, 0, 0);
                                }
                            }
                        }

                        .list {
                            height: 35%;
                            width: 100%;
                            margin-bottom: 1.3rem;
                            margin-top: 3rem;

                            p {
                                font-size: 2rem;
                                margin-bottom: 1.3rem;
                                color: #424242;
                                padding-bottom: 0.5rem;
                            }

                            button {
                                border: 0;
                                padding: 1.3rem;
                                font-size: 1.4rem;
                                border-radius: 2rem;
                                background-color: #FF6663;
                                color: white;
                                width: 20rem;
                            }
                        }

                        .testemonials {
                            margin-top: 65px;
                            height: 25%;
                            width: 100%;
                            font-size: 1.5rem;

                            #names {
                                font-size: 1.3rem;
                                padding-top: 1rem;

                                span {
                                    font-weight: bold;
                                }
                            }
                        }
    
                    }
                }

                .image {
                    width: 58%;
                    display: flex;
                    height: 100%;
                    flex-direction: row;
                    justify-content: center;

                    .phones {
                        width: 70%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;

                        img {
                            height: 90%;
                        }
                    }

                    .first {
                        margin-right: -6rem;
                        z-index: 1;
                        padding-right: 0;
                        margin-bottom: -12rem;
                    }

                    .second {
                        justify-content: flex-start;
                    }

                }
            }
        }
    }

    
}

@media only screen and (max-width: 850px) {
    body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(234, 236, 69);

    .first-view .main-container .header {
        width: 100vw;
    }
    
    .first-view .main-container .content .content-box {
        width: 100vw;
        height: 100vh;
    }

    .first-view .main-container .header nav .mid {
        display: none;
    }

    .pure {
        padding-left: 50px;
    }

    .first-view .main-container .header nav .left-and-right {
        width: 50%;
        color: #b8b8b8;
    }

    .first-view .main-container .header nav .left-and-right li {
        width: 50%;
    }

    .first-view .main-container .content .content-box .copy .main-text h1 {
        font-size: 3.7em;
        text-align: left;
        padding-left: 20px;
        margin-top: -150px;
    }

    .first-view .main-container .content .image {
        margin-top: -100px;
        width: 70vw;
    }

    .first-view .main-container .content .image .phones {
        height: 86%;
    }


    .first-view .main-container .content .content-box .copy .list button {
      display: block;
    //   margin-left: 20vw;
      font-size: 2em;
      margin-top: 10px;

    }
    
    .first-view .main-container .content .content-box .copy .testemonials {
        text-align: left;
        // margin-top: -100px;
        padding-left: 25px;
        margin: 0;
    }
    .first-view .main-container .content {
        display: flex;
        flex-direction: column;
    }
    .first-view .main-container .content .content-box .copy {
        padding: 1rem;
    }

    .first-view .main-container .content .content-box .copy .list {
        margin: 0;
    }

    .first-view .main-container .content .content-box .copy .list {
        margin-top: -150px;
        padding-left: 20px;
    }

    .first-view .main-container .content .content-box .copy .list p {
        padding-top: 10px;
        line-height: normal;
        font-size: 1.6em;
        text-align: left;
        padding: 0;
        margin: 0;
        line-height: 3rem;
    }
    .main-container {
        width: 100vw;
        height: 100vh;
        display: block;

        

        .header nav {
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .content {
            width: 100%;
            display: flex;
            padding: 0;
            
            

            .copy {
                display: flex;
                justify-content: center;
            }
            
            
            .main-text h1 {
                font-size: 0.1em;
                line-height: normal;
                width: 98vw;
                margin: 0 auto;
                text-align: center;
            }
        }
    }

    
    }
}