body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    


    .first-view {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        .main-container {
            width: 95%;
            height: 95%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            justify-content: center;
            align-items: center;

            .header {
                height: 10%;
                width: 100%;
                box-sizing: border-box;
                display: flex;

                nav {
                    height: 100%;
                    width: 100%;
                    box-sizing: border-box;
                    display: flex;
                    justify-content: space-between;

                    ul {
                        height: 100%;
                        display: flex;
                        font-size: 1.6rem;
                    }

                    .left-and-right {
                        width: 25%;

                        li {
                            width: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .mid {
                        width: 45%;

                        li {
                            width: 20%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }

            .content {
                height: 90%;
                box-sizing: border-box;
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .content-box {
                    height: 100%;
                    width: 48%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .copy {
                        height: 70%;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        // text-align: left;
                        padding-left: 5rem;

                        .main-text {
                            height: 35%;
                            text-align: left;
                            width: 100%;
                            display: flex;
                            box-sizing: border-box;
                            align-items: center;

                            h1 {
                                font-size: 4.5rem;
                                font-family: 'PT Serif', serif;
                            }
                        }

                        .list {
                            height: 35%;
                            width: 100%;

                            p {
                                font-size: 1.5rem;
                                margin-bottom: 1.3rem;
                            }
                        }

                        .testemonials {
                            height: 25%;
                            width: 100%;
                            font-size: 1.4rem;
                        }
    
                    }
                }

                .image {
                    width: 58%;
                    display: flex;
                    height: 100%;
                    flex-direction: row;
                    justify-content: center;

                    .phones {
                        width: 40%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-end;

                        img {
                            height: 90%;
                        }
                    }

                    .first {
                        margin-right: -6rem;
                        z-index: 1;
                        padding-right: 0;
                        margin-bottom: -12rem;
                    }

                    .second {
                        justify-content: flex-start;
                    }

                }
            }
        }
    }
}