@media only screen and (max-width: 850px) {

    body {
        margin: 0;
        padding: 0;
        background-color: #000;
        box-sizing: border-box;
        width: 100vw;

        .first-view {
            display: block;
            height: 140vh;


            .main-container {
                display: block;

                .header {

                    nav {
                        width: 80vw;
                        margin: 0 auto;
                        padding: 0;

                        ul {
                            display: flex;
                            flex-direction: row;
                            margin: 0 auto;
                            li{
                                font-size: 0.6em;
                            }
                        }

                        .left-and-right {
                            display: flex;
                        }
                    }
                }

                .content {
                    display: flex;
                    flex-direction: column;

                    .content-box {
                        display: flex;
                        flex-direction: column;
                        width: 100vw;
                        height: 100vh;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        padding: 0;

                        .copy {
                            width: 90vw;
                            margin: 0 auto;
                            padding: 0;
                            padding-top: 40px;


                            .main-text {
                                display: block;

                                h1 {
                                    font-size: 3.5em;
                                    margin: 0;
                                    padding: 0;
                                    color: rgb(219, 219, 219);
                                    text-align: center;
                                }
                            }
                            .list {
                                height: 100%;
                                margin-top: 1em;
                                padding: 0;

                                p{
                                    font-size: 1.7em;
                                    line-height: 1.2em;
                                    color: rgb(190, 190, 190);
                                    text-align: center;
                                }

                                button {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border: 0;
                                padding: 1.5rem;
                                font-size: 1.9rem;
                                border-radius: 0.8rem;
                                background-color: #FF6663;
                                color: white;
                                width: 80vw;
                                margin-top: 40px;
                                margin: 0 auto;
                                text-align: center;
                                }
                            } 

                            .testemonials {
                                padding-top: 20px;
                                margin: 0 auto;
                                margin-top: 5px;
                                text-align: center;
                            }
                        }
                    }

                    .image {
                        display: flex;
                        flex-direction: row;
                        width: 80vw;
                        justify-content: center;
                        align-items: center;

                        // max-width: 80vw;
                        // height: 100vh;
                        // width: 40px;

                        .phones {
                            display: flex;
                            max-width: 100%;
                            width:100%;
                            margin: 0 auto;
                            justify-content: center;
                            align-items: center;

                            img {
                                display: flex;
                                max-width: 70vw;
                                height: 70vh;
                            }
                        }

                        .first {
                            display: block;
                            max-width: 50%;
                            width: 50%;
                            margin-top: 50px;
                            margin-right: -20px;
                            margin-left: -20px;
                            // display: none;
                        }

                        .second {
                            width: 50%;
                            max-width: 50%;
                            margin-top: -100px;
                            // margin-right: 3px;
                            // display: none;
                            // padding-left: -20px;
                            // margin-bottom: -12px;
                        }
                    }
                }
            }
        }

        .second-view {
            font-family: PT Serif;
            .yellow-page {
                height: 215vh;
                .top-text {
                    .head {
                        padding-top: 200px;
                        font-size: 3.5em;
                    }
                }
                .mid-point {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding-left: 40px;
                    padding-right: 40px;
                    .divider {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 90vw;
                        padding-top: 40px;
                        img {
                            width: 90vw;
                            max-width: 400px;
                            height: 100%;
                            margin: 0 auto;
                            display: flex;
                        }
                        h3 {
                            padding-top: 28px;
                            font-size: 2.3em;
                            text-align: center;
                            width: 400px;
                            font-family: 'Acme';
                            color: rgb(88, 88, 88);
                            line-height: 1.5;
                        }
                        }
                    }
        
                }
            }
        footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 1.5em;
        }
        
        
    }
}

@media (min-width: 48em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }   