@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

.second-view {
    font-family: PT Serif;
    // width: 90vw;
    margin: 0 auto;
    .yellow-page {
        background-color: rgb(255, 219, 140);
        height: 110vh;
        .top-text {
            .head {
                font-size: 4em;
                text-align: center;
                padding-top: 60px;
                color: rgb(88, 88, 88);

            }
        }
        .mid-point {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-left: 40px;
            padding-right: 40px;
            .divider {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 27%;
                padding-top: 40px;
                padding-bottom: 60px;
                img {
                    width: 400px;
                    height: 100%;
                    margin: 0 auto;
                }
                h3 {
                    padding-top: 28px;
                    font-size: 2.3em;
                    text-align: center;
                    width: 300px;
                    font-family: 'Acme';
                    color: rgb(88, 88, 88);
                    line-height: 1.5;
                    margin-bottom: 50px;
                }
                }
            }

        }
    }

